.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    width: 200px;

    h3 {
        color: darkblue;
        text-align: center;
    }
}

$dark-bg : #445162;
$medium-bg : #f5f5f5;
$light-bg : #ffffff;
$message-bg : #ebebeb;
$font-color : #5d5d5d;

@import './components/Header';
@import './components/About';
@import './components/Pluses';
@import './components/Screenshots';
@import './components/Reviews';
@import './components/BuyItNow';
@import './components/Contacts';
